@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Try pressing:
<ol>
    <li>
        - CTRL + S
    </li>
    <li>
        - CTRL + F
    </li>
    <li>
        - SHIFT + S
    </li>
</ol>
<br/>
<br/>

You pressed:
Key: @_hotkeyPressed
Shift: @_shiftKey
CTRL: @_ctrlKey